{% if 'username' in session %}
  
  <nav class="navbar fixed-top navbar-expand-lg navbar-light navmain">
    <a class="navbar-brand" href="#"><img alt="cookLogo" src="{{ url_for('static', filename = 'img/artboard.png') }}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{{url_for('logout')}}">
        <button class="btn btn-primary my-2 my-sm-0" id="btnLogin" type="submit">Logout</button>
      </form>
    </div>
  </nav>

{% else %}

   <nav class="navbar fixed-top navbar-expand-lg navbar-light navmain">
    <a class="navbar-brand" href="#"><img alt="cookLogo" src="{{ url_for('static', filename = 'img/artboard.png') }}"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mr-2 mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('welcome')}}">Home</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{{url_for('login')}}">
        <button class="btn btn-primary my-2 my-sm-0" id="btnLogin" type="submit">Login</button>
      </form>
    </div>
  </nav>

{% endif %}